<!DOCTYPE html>
<html>
    <head>
        <title>Graficas</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    
    </head>
    <body>
      
            <canvas id="chart1" width="800" height="400"></canvas>
            <canvas id="chart2" width="800" height="400"></canvas>
        
        
        <script>
            
            function renderChart() {
                const ctx1 = document.querySelector('#chart1').getContext('2d')
                datar1(ctx1)
                const ctx2 = document.querySelector('#chart2').getContext('2d')
                datar2(ctx2)
            }



            function datar2(ctx){
            

                async function getHum() {
                    let headersList = {
                        "Accept": "*/*",
                        "User-Agent": "Thunder Client (https://www.thunderclient.com)"
                    };

                    const request = await fetch("http://137.184.94.16:8000/getTemp", {
                        method: "GET",
                        headers: headersList
                    });

                    return await request.json();
                };

                let a = getHum();

                a.then(data => {

                    let temperatura = data ? Object.values(data).map(item => item.temperatura) : null;

                    console.log(temperatura)

                    const chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: temperatura,

                            datasets: [
                                {
                                    label: 'temperatura',
                                    borderColor: '#348feb',
                                    data: temperatura,
                                    loop: true,
                                }
                            ]
                        },
                        options: {
                            responsive: false,
                        }
                    })

                })


            }


            function datar1(ctx){

                

                async function getHum() {
                    let headersList = {
                        "Accept": "*/*",
                        "User-Agent": "Thunder Client (https://www.thunderclient.com)"
                    };

                    const request = await fetch("http://137.184.94.16:8000/getHum", {
                        method: "GET",
                        headers: headersList
                    });

                    return await request.json();
                };

                let a = getHum();

                a.then(data => {

                    let humedad = data ? Object.values(data).map(item => item.humedad) : null;

                    console.log(humedad)

                    const chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: humedad,

                            datasets: [
                                {
                                    label: 'Humedad',
                                    borderColor: '#42b9f5',
                                    data: humedad,
                                    loop: true,
                                }
                            ]
                        },
                        options: {
                            responsive: false,
                        }
                    })
                })
            }

            renderChart()

        </script>
        
    </body>
</html>